.hero {
  background-color: rgb(184, 182, 182);
  display: flex;
  height: 75px;
}

.hero img {
  width: 90px;
  height: 70px;
  margin-left: 20px;
  margin-top: 5px;
}

.hero h1 {
  width: 90%;
  font-size: 3.5em;
  font-weight: 600;
  text-align: center;

}